@import "../../../sass/essentials";

// Block Component

.hero-section {
    align-items: center;
    height: 100vh;
	

	@media only screen and ( min-width: $tablet ) {
		display: block;
		margin-top: 0;
	}
	&__description {
		font-size: 18px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		overflow: hidden;
		-webkit-box-orient: vertical;

		@media only screen and ( min-width: $tablet ) {
			font-size: 24px;
		}
	}

}

// Element that depends on the block


//Modifier that changes the style of the block


.background-image {
	width: 100%;
	height:100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media only screen and (min-width: $tablet) {
		
		
	}
	
	.dark-BG {
		background-color: rgba(168, 125, 69, 0.582);
		display: flex;
		height: 100%;
		align-items: center;
		text-align: center;
		
	}
	
	.hero {
		margin: 0 auto;
		margin-bottom: 6rem;
		border: 2px black solid;
		border-radius: 2rem;
		background-color: rgba(172, 51, 4, 0.582);
		justify-content: center;
		color: whitesmoke;
		padding: 2rem;
		@media only screen and ( min-width: $tablet ) {
			margin-left: auto;
			margin-right: auto;
			width: 500px;
			margin-bottom: 24px;
		}
	}

}